.contactForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.contactForm h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.contactForm label {
  margin-bottom: 10px;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contactForm button {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.5em 0.5em -0.4em #ffd340ba;
}

.contactForm button:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}
/* padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer; */
